extends ../layout_user

block content
    form.form-signin.form-register(method="post", action="/admin/users/password")

        h2.form-signin-heading 修改密码
            small.pull-right
                a(href="javascript:history.back(-1)") 返回
        
        != messages()

        label=user.email
            .sr-only(for="email") 
        input(name="e_mail", type="hidden", value=user.email)
        
        label.sr-only(for="password") 旧密码
        input.password.form-control(name="password", type="password", placeholder="旧密码", required="")
        
        label.sr-only(for="newPassword") 新密码
        input.password.form-control(name="newPassword", type="password", placeholder="新密码", required="")
        
        label.sr-only(for="confirmPassword") 再输入一次
        input.confirm-password.form-control(name="confirmPassword", type="password", placeholder="再输入一次", required="")
        
        button#submit.btn.btn-lg.btn-primary.btn-block(type="submit") 修改
        
        span#error(style="color:red")

block main

    block content    

        block scripts
            script(src='/js/admin/updatepassword.js')